.projects--container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 50px 150px;
    background-color: #CBF281;
}

@media screen and (max-width: 1430px) { 
    .projects--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 150px;
        background-color: #CBF281;
    }

}