.tech--tag--container {
  border-radius: 23px;
  background: #4731d3;
  color: white;
  padding: 10px;
}

.tech--tag--container p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  letter-spacing: -0.7px;
}
