.project--card--container{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;    
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: none;
    border-radius: 12px;
}



.project--info--container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    flex: 60%;
}

.project--name{
    color: var(--default-indigo-700, #4338CA);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    
}

.project--info{
    color: #383838;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
   
}

.project--tags{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.project--links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


@media screen and (max-width: 890px) {
 
    .project--card--container{
        align-items: center;
        text-align: center;
        flex-direction: column;
        
    }

    .project--tags{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }
    
    .project--links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .project--info{
    
        font-size: 12px;
     
       
    }
    
    
}


