
.stackcard--layout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding:50px 150px ;
  


}

.techstack--heading {
  display: flex;
  color: #4832d3;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
}
.techstack--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.tech--card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  min-width: 30%;
}

.tech--heading {
  color: #777;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .stackcard--layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        
      }
      .tech--heading {
        color: #777;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        text-transform: uppercase;
      }
}

@media screen and (max-width: 1260px) {
    .stackcard--layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
      }
      .tech--heading {
        color: #777;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        text-transform: uppercase;
      }
}

@media screen and (max-width: 760px) {
  .stackcard--layout{
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
    .techstack--container {
        display: grid;
        grid-template-columns: 1fr;
        
        gap: 10px;
        
      }
}

